.song {
  font-size: 40px;
}

.playIcon {
  font-size: 40px;
}

button {
  font-size: 24px;
  padding: 8px 35px;
  background-color: blueviolet;
  color: white;
  margin: 10px 20px 0px 20px;
  border-radius: 10px;
  border: none;
}
